<h1>My Travel Ideas</h1>
<p>The following clipboard items that belong to user &quot;<%= @userName %>&quot;</p>
<p><b><%= @msg %></b></p><br>
<%= link_to_function 'Back to Search Results', 'history.back()' %><br>

<table>
	<% @cbItems.each do |item| %>
		<tr>
			<td>
				<%= link_to 'Delete', :controller => 'clipboard', :action => 'del_image', :id => item.id, :img_url => item.url %>
				
			</td>
			<td>
                <% if item.source == 'Photo' %>
				    <%= image_tag(item.url) %>
                <% elsif item.source == 'Video' %>
                    <iframe width=260 height=210 src=<%= item.url %>></iframe>
                <% else %>
                    <%= 'Unknown Media' %>
                <% end %>
			</td>
			<td>
				<%= link_to item.url, item.url %>
			</td>
		</tr>
	<% end %>
</table>
