<div id="modal-form">
    <%= form_tag(:method => 'post') do  %>

        <%= label_tag(:mi_id, 'Enter Trip Item ID:') %>
        <%= text_field_tag(:mi_id) %>
        <%= hidden_field_tag :url, photo.sizes[4]['source'] %>
        <%= hidden_field_tag :source, 'Photo' %>

    <% end %>
</div>