

  <tr style="vertical-align:top">
    <td>
      <%= photo.title %><br>
      <%= image_tag(photo.sizes[4]['source']) %><br>

      <%= javascript_tag do %>
        window.photoID = '<%= j photo.id %>';
      <% end %>

      <%= content_tag 'div', id: "media-partial-"+ photo.id, class: 'hidden', title: photo.title do %>

        <% if( current_user() ) %>
            <%= content_tag 'div', id: 'modal-form-'+photo.id do %>

                  <%= form_tag( :method => 'post', :id => 'form-'+photo.id) do  %>

                      <%= label_tag(:mi_id, 'Enter Trip Item ID:') %>
                      <%= text_field_tag(:mi_id) %>
                      <%= hidden_field_tag :url, photo.sizes[4]['source'] %>
                      <%= hidden_field_tag :source, 'Photo' %>

                  <% end %>
            <% end %>
        <% end %>
        <%#= render :partial => 'modal', locals: {photo: photo} %>

      <% end %>

      <a id="add-photo-to-trip-<%= photo.id %>">Add to Trip</a><br>
      <div id="div-id-<%= photo_counter %>">
        <%= photo.sizes[4]['source'] %>
      </div><br>
      <%= photo.id %>
    </td>

  </tr>


