<table>

  <tr style="vertical-align:top">
    <td>
      <%= photo.title %><br>
      <%= image_tag(photo.sizes[4]['source']) %><br>
      <%= collection_select(:user_trips_items, :trip_item_id, @current_trip_items, :id, :trip_item_name) %>

      <%#= button_to 'Add to trip', media_path(url: photo.sizes[4]['source'], source: 'Photo', :remote => true) %>

      <%= form_tag({:controller => 'media', :action => 'create'}, :method => 'post') do  %>
          <%= label_tag(:mi_id, 'Enter Media Item ID:') %>
          <%= text_field_tag(:mi_id) %>
          <%= hidden_field_tag :url, photo.sizes[4]['source'] %>
          <%= hidden_field_tag :source, 'Photo' %>
          <%= submit_tag('Add to Trip')   %>
      <% end %>
    </td>

  </tr>

</table>
