<h1>Search Results</h1>

<%= form_tag({:controller => 'main', :action => 'index'}, :method => 'get') do %>
    <%= label_tag(:text, 'Inspire Me:') %>
    <%= text_field_tag(:text) %>
    <%= submit_tag('Search') %>
<% end %>

<%= link_to 'My Clippings', :controller => 'clipboard', :action => 'show' %>

<table>

    <tr style="vertical-align:top">
        <td>
            <div class="flickr">
              <%= render :partial => 'photo', :collection => @photos %>
            </div>
        </td>

        <td>
            <div class="youtube">
              <%= render :partial => 'youtubevideo', :collection => @youtubevideos.data.items %>

            </div>
        </td>
    </tr>

</table>
