<h1>Search Results</h1>

<p>You are logged in as <%= @current_user.first_name %></p>

<%#= form_tag({:controller => 'main', :action => 'index'}, :method => 'get') do %>
    <%#= label_tag(:text, 'Inspire Me:') %>
    <%#= text_field_tag(:text) %>
    <%#= hidden_field_tag :searching_from_display, true %>
    <%#= submit_tag('Search') %>
<%# end %>

<%= form_tag({:controller => 'trips', :action => 'create'}, :method => 'post') do %>
    <%= label_tag(:text, 'Enter Trip Name:') %>
    <%= text_field_tag(:text) %>
    <%= hidden_field_tag :creating, true %>
    <%= hidden_field_tag :uid, @current_user.id %>
    <%= submit_tag('Create Trip')   %>
<% end %>

<%= form_tag({:controller => 'trip_items', :action => 'create'}, :method => 'post') do %>
    <%= collection_select(:user_trips, :trip_id, @current_user_trips, :id, :trip_name) %>
    <%= label_tag(:text, 'Assign trip item name:') %>
    <%= text_field_tag(:text) %>
    <%= hidden_field_tag :creating_trip_item, true %>
    <%= submit_tag('Create Trip Item')   %>
<% end %>

<%= link_to 'My Clippings', :controller => 'clipboard', :action => 'show' %>

<table>

    <tr style="vertical-align:top">
        <td>
            <div class="flickr">

              <%#= form_tag({:controller => 'clipboard', :action => 'add_image'}, :method => 'post') do %>
                  <%#= collection_select(:user_trips_items, :trip_item_id, @current_trip_items, :id, :trip_item_name) %>
                  <%#= hidden_field_tag :img_url, @photos.sizes[4]['source'] %>
                  <%#= hidden_field_tag :source, 'Photo' %>
                  <%= render :partial => 'photo', :collection => @photos %>
                  <%#= submit_tag('Add To Trip')   %>
              <%# end %>
            </div>
        </td>

        <td>
            <div class="youtube">
              <%= render :partial => 'youtubevideo', :collection => @youtubevideos.data.items %>

            </div>
        </td>
    </tr>

</table>
