<h1>Search Results</h1>

<p>
  <% if( current_user() ) %>
  You are logged in as <%= @current_user.name %>
  <% else %>
  You are not logged in. All trip creations will be temporary and cannot be saved until you do so.
  <% end %>
</p>

<% if( current_user() ) %>
    <%= form_tag({:controller => 'trips', :action => 'create'}, :method => 'post', :remote => true) do %>
        <%= label_tag(:text, 'Enter Trip Name:') %>
        <%= text_field_tag(:text) %>
        <%= hidden_field_tag :creating, true %>
        <%= submit_tag('Create Trip')   %>
    <% end %>

    <div id="trip_msg_background"></div>
    <div id="trip_msg"></div>

    <%= form_tag({:controller => 'trip_items', :action => 'create'}, :method => 'post') do %>
        <%= collection_select(:user_trips, :trip_id, @current_user_trips, :id, :trip_name) %>
        <%= label_tag(:text, 'Assign trip item name:') %>
        <%= text_field_tag(:text) %>
        <%= hidden_field_tag :creating_trip_item, true %>
        <%= submit_tag('Create Trip Item')   %>
    <% end %>
<% end %>

<table>

    <tr style="vertical-align:top">
        <td>
            <div class="flickr">
                  <%= render :partial => 'photo', :collection => @photos %>
            </div>
        </td>

        <td>
            <div class="youtube">
              <%= render :partial => 'youtubevideo', :collection => @youtubevideos.data.items %>
            </div>
        </td>
    </tr>

</table>
