<h1>JBHNM</h1>

<h2>Login as...</h2>


<h3>This is a YouTube video and Flickr photo search...</h3>
<%= form_tag({:controller => 'main', :action => 'index'}, :method => 'get') do %>
    <%= collection_select(:app_user, :user_id, @users, :id, :full_name) %>
    <%= label_tag(:text, 'Inspire Me:') %>
    <%= text_field_tag(:text) %>
    <%= hidden_field_tag :searching, true %>
    <%= submit_tag('Search')   %>
<% end %>


<script type="text/javascript">
    $(function() {
        $('#jbhnm-signing-identity-register').dialog({
            autoOpen: false,
            width: 350,
            modal: true,
            buttons: {
                "Register": function() {
                    var authKey = $("#auth_key").val();
                    var pwd = $("#password").val();

                    $('#jbhnm-signing-identity-form').hide();
                    $('#jbhnm-signing-identity-wait').show();

                    $.ajax({
                        type: 'post',
                        url: '/auth/identity/callback',
                        async: false,
                        data: {auth_key: authKey, password: pwd},
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8', //'application/json',
                        dataType: 'json',
                        success: function(data) {
                            console.log(data);
                            $("#jbhnm-signing-identity").dialog('close');
                            if( data['status'] != "OK" )
                            {

                            }
                        },
                        error: function(jqXHR, status, error) {
                            console.log("status:", status, "error:", error);
                        }
                    });
                },
                Cancel: function() {
                    $( this ).dialog( "close" );
                }
            },
            close: function() {
                allFields.val( "" ).removeClass( "ui-state-error" );
            }
        });


        $("#jbhnm-signing-identity").dialog({
            autoOpen: false,
            width: 350,
            modal: true,
            buttons: {
                "Sign In": function() {
                    var authKey = $("#auth_key").val();
                    var pwd = $("#password").val();

                    $('#jbhnm-signing-identity-form').hide();
                    $('#jbhnm-signing-identity-wait').show();

                    $.ajax({
                        type: 'post',
                        url: '/auth/identity/callback',
                        async: false,
                        data: {auth_key: authKey, password: pwd},
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8', //'application/json',
                        dataType: 'json',
                        success: function(data) {
                            console.log(data);
                            $("#jbhnm-signing-identity").dialog('hide');
                            if( data['status'] != "OK" )
                            {

                            }
                            $( this ).dialog( "destroy" );
                        },
                        error: function(jqXHR, status, error) {
                            console.log("status:", status, "error:", error);
                            $( this ).dialog( "destroy" );
                        }
                    });
                },
                Cancel: function() {
                    $( this ).dialog( "destroy" );
                }
            },
            close: function() {
                allFields.val( "" ).removeClass( "ui-state-error" );
                $( this ).dialog( "destroy" );
            }
        });

        $("#LoginLink").click(
                function() { $("#jbhnm-signing-identity").dialog("open"); return false; }
        )

        $("#RegisterLink").click(
                function() { $("#jbhnm-signing-identity-register").dialog("open"); }
        )

    });
</script>