<h1>JBHNM</h1>

<h2>Login as...</h2>


<h3>This is a YouTube video and Flickr photo search...</h3>
<%= form_tag({:controller => 'main', :action => 'index'}, :method => 'get') do %>
    <%= collection_select(:app_user, :user_id, @users, :id, :full_name) %>
    <%= label_tag(:text, 'Inspire Me:') %>
    <%= text_field_tag(:text) %>
    <%= hidden_field_tag :searching, true %>
    <%= submit_tag('Search')   %>
<% end %>


<script type="text/javascript">
    $(function() {
        $("#LoginLink").click(
                function() { $( "#jbhnm-signing-identity" ).dialog("open"); }
        )

        $("#jbhnm-signing-identity").dialog({
            autoOpen: false,
            width: 350,
            modal: true,
            buttons: {
                "Sign In": function() {
                    $.ajax({
                        type: 'post',
                        url: '/auth/identity/callback',
                        async: false,
                        contentType: 'application/json',
                        dataType: 'json',
                        success: function(data) {
                            console.log(data);
                        },
                        error: function(jqXHR, status, error) {
                            console.log("status:", status, "error:", error);
                        }
                    });
                },
                Cancel: function() {
                    $( this ).dialog( "close" );
                }
            },
            close: function() {
                allFields.val( "" ).removeClass( "ui-state-error" );
            }
        });
    });
</script>