<h1>Listing media_items</h1>

<table>
  <tr>
    <th>Trip item</th>
    <th>Clipboard image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @media_items.each do |media_item| %>
  <tr>
    <td><%= media_item.trip_item %></td>
    <td><%= media_item.clipboard_image_id %></td>
    <td><%= link_to 'Show', media_item %></td>
    <td><%= link_to 'Edit', edit_media_item_path(media_item) %></td>
    <td><%= link_to 'Destroy', media_item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Media item', new_media_item_path %>
