<p id="notice"><%= notice %></p>

<p>
  <b>Trip item:</b>
  <%= @media_item.trip_item %>
</p>

<p>
  <b>Clipboard image:</b>
  <%= @media_item.clipboard_image_id %>
</p>


<%= link_to 'Edit', edit_media_item_path(@media_item) %> |
<%= link_to 'Back', media_items_path %>
