<h1>Listing trip_items</h1>

<table>
  <tr>
    <th>Trip</th>
    <th>Image</th>
    <th>Name</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trip_items.each do |trip_item| %>
  <tr>
    <td><%= trip_item.trip_id %></td>
    <td><%= trip_item.image_id %></td>
    <td><%= trip_item.name %></td>
    <td><%= trip_item.start_date %></td>
    <td><%= trip_item.end_date %></td>
    <td><%= trip_item.comment %></td>
    <td><%= link_to 'Show', trip_item %></td>
    <td><%= link_to 'Edit', edit_trip_item_path(trip_item) %></td>
    <td><%= link_to 'Destroy', trip_item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Trip item', new_trip_item_path %>
