<!DOCTYPE html>
<html>
<head>
  <title>Travelapp</title>

  <!-- I think jQuery stuff must come before application.js -->
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>

<body>

<%= render 'authentication' %>

<%= yield %>

<% flash.each do |key, value| %>
    <%= content_tag(:div, value, :class => "flash #{key}") %>
<% end %>


</body>
</html>
