<!DOCTYPE html>
<html>
<head>
  <title>Travelapp</title>


  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>

</head>
<body>



<%= yield %>

<% flash.each do |key, value| %>
    <%= content_tag(:div, value, :class => "flash #{key}") %>
<% end %>


</body>
</html>
